.code-output {
  background-color: $v-dark-gray;
  color: $light-gray;
  border-radius: 12px;
  padding: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 40px 0 60px;
  font-size: 12px;
}

p.code-line {
  margin: 5px 0;
}

