.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: $blue;
  color: $white;
  box-shadow: $shadd;

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  & .title {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .title-text {
    font-weight: 300;
    text-align: left;
  }
}


